
@{
    ViewBag.Title = "Division Head";
    ViewBag.JS = "/Scripts/Page/ApprovalDivHead.js";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<input type="hidden" id="hd_PositionID" value="@Session["PositionID"]" />*@

<h2 class="content-heading">Approval Division Head</h2>
<div class="block block-rounded">
    <div class="block-header block-header-default">
        <h3 class="block-title">
            Approval Engineering GM <small>All list Approval ENG GM</small>
        </h3>
    </div>
    <div class="block-content block-content-full">
        <table class="table table-bordered table-striped table-vcenter js-dataTable-responsive w-100" id="tbl_ppe_eng">
            <thead class="text-center bg-primary text-white">
                <tr>
                    @*<th>NO</th>*@
                    <th><input type="checkbox" id="checkAll"></th>
                    <th>PPE NUMBER</th>
                    <th>EGI</th>
                    <th>EQP NUMBER</th>
                    <th>FROM DISTRICT</th>
                    <th>TO DISTRICT</th>
                    <th>CREATED DATE</th>
                    <th>STATUS</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<div class="block block-rounded block-link-shadow">
    <div class="block-header">
        <h3 class="block-title">Remarks</h3>
    </div>
    <div class="block-content">
        <div class="mb-3">
            <textarea class="form-control form-control-sm" id="txt_remark" name="txt_remark"></textarea>
        </div>
    </div>
    <div class="block-content block-content-full block-content-sm bg-body-light fs-sm">
        <div class="block-options justify-content-center">
            <div class="row text-center">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-sm btn-danger" value="REJECT" onclick="rejectApproval(this.value)">
                        <i class="fa fa-times opacity-50 me-1"></i> Cancel
                    </button>
                    <button type="submit" class="btn btn-sm btn-success" value="DIVISION HEAD ENG APPROVED" onclick="submitApproval(this.value)">
                        <i class="fa fa-check-circle opacity-50 me-1"></i> Approve
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>