
@{
    ViewBag.Title = "Plant Dept. Head";
    ViewBag.JS = "/Scripts/Page/ApprovalPlantDeptHead.js";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="content-heading">Approval Plant Dept. Head</h2>
<div class="block block-rounded">
    <div class="block-header block-header-default">
        <h3 class="block-title">
            Table Approval PPE <small>All list Approval Plant Dept. Head</small>
        </h3>
    </div>
    <div class="block-content block-content-full">
        <table class="table table-bordered table-striped table-vcenter js-dataTable-responsive w-100" id="tbl_ppe">
            <thead class="text-center bg-primary text-white">
                <tr>
                    <th>NO</th>
                    <th>PPE NUMBER</th>
                    <th>FROM DISTRICT</th>
                    <th>TO DISTRICT</th>
                    <th>CREATED DATE</th>
                    <th>STATUS</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
