################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PLANT_PPE/FileContentIndex
/.vs/
/.vs/*
/API_PLANT_PPE/obj/Debug/*

/API_PLANT_PPE/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/PLANT_PPE/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/PLANT_PPE/obj/Debug/PLANT_PPE.csproj.AssemblyReference.cache
