################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PLANT_PPE/FileContentIndex
/.vs/
/.vs/*
/API_PLANT_PPE/bin/*
/API_PLANT_PPE/obj/*
/PLANT_PPE/bin/*
/PLANT_PPE/obj/*
