@{
    ViewBag.Title = "Home Page";
}

<div class="row justify-content-center text-center">
    <div class="col-md-6">
        <div class="block-content">
            <img class="img-fluid options-item" src="~/Content/assets/media/photos/main excell.png" alt="">
        </div>
    </div>
</div>
<div class="py-3 text-center">
    <h2 class="fw-bold mb-2">
        Permohonan Pemindahan Equipment (PPE)
    </h2>
    <h4 class="h5 text-muted">
        PT Kalimantan Prima Persada
    </h4>
</div>