<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MOK_CONS_PPE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MOK_CONS_PPE.Properties.Settings.DB_DCTM_Integration"
            connectionString="Data Source=10.14.101.181\dmsprod;Initial Catalog=DB_DCTM_Integration_KPT;Persist Security Info=True;User ID=sqlservices;Password=sqlservices1"
            providerName="System.Data.SqlClient" />
        <add name="MOK_CONS_PPE.Properties.Settings.DB_PLANT_PPE_NEW_KPT"
            connectionString="Data Source=10.14.101.101\SHPOL;Initial Catalog=DB_PLANT_PPE_NEW_KPT;Persist Security Info=True;User ID=sqlservices;Password=sqlservices1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
	<appSettings>
	    <!--login ellipse-->
	    <add key="username" value="dailykpp" />
	    <add key="password" value="kpp12345" />
	    <add key="pos_id" value="KP2SD03" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <MOK_CONS_PPE.Properties.Settings>
            <setting name="LogDir" serializeAs="String">
                <value>D:\Application\</value>
            </setting>
            <setting name="MOK_CONS_PPE_EquipmentService_EquipmentService"
                serializeAs="String">
                <value>https://ews-kpt.kppmining.net/ews/services/EquipmentService</value>
            </setting>
        </MOK_CONS_PPE.Properties.Settings>
    </applicationSettings>
	<system.web>
		<webServices>
			<soapExtensionTypes>
				<add type="EllipseWebServicesClient.AuthenticationExtension, EllipseWebServicesClient" priority="1" />
			</soapExtensionTypes>
		</webServices>
	</system.web>
</configuration>