@{
    ViewBag.Title = "Home Page";
    ViewBag.JS = "/Scripts/Page/Review.js";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="content-heading">Review Permohonan Pemindahan Equipment</h2>
<div class="block block-rounded">
    <div class="block-header block-header-default">
        <h3 class="block-title">
            Table Review <small>Permohonan Pemindahan Equipment</small>
        </h3>
    </div>
    <div class="block-content block-content-full">
        <table class="table table-bordered table-striped table-vcenter js-dataTable-responsive w-100" id="tbl_reviewppe">
            <thead class="text-center">
                <tr>
                    <th>DATE</th>
                    <th>NUMBER PPE</th>
                    <th>EQUIPMENT GROUP ID</th>
                    <th>CLASS</th>
                    <th>EQUIPMENT NUMBER</th>
                    <th>SERIAL NUMBER</th>
                    <th>FROM</th>
                    <th>TO</th>
                    <th>ATTACHMENT</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
