
@{
    ViewBag.Title = "Review";
    ViewBag.JS = "/Scripts/Page/Review.js";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="content-heading">Review Permohonan Pemindahan Equipment</h2>
<div class="block block-rounded">
    <div class="block-header block-header-default">
        <h3 class="block-title">
            Table Review <small>Permohonan Pemindahan Equipment</small>
        </h3>
        @*<div class="block-options">
                <div class="block-options-item">
                    <button type="button" class="btn btn-success py-2 mb-0" data-bs-toggle="modal" data-bs-target="#modal-insert" onclick="showInsert();">
                        <i class="fa fa-add opacity-50 me-1"></i> Add Mapping Approval
                    </button>
                </div>
            </div>*@
    </div>


    <div class="block-content block-content-full">
        <table class="table table-bordered table-striped table-vcenter js-dataTable-responsive w-100" id="tbl_reviewppe">
            <thead class="text-center">
                <tr>
                    <th>DATE</th>
                    <th>NUMBER PPE</th>
                    <th>EQUIPMENT GROUP ID</th>
                    <th>CLASS</th>
                    <th>EQUIPMENT NUMBER</th>
                    <th>SERIAL NUMBER</th>
                    <th>FROM</th>
                    <th>TO</th>
                    <th>POSITION</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>


<div class="modal" id="modal-detail" tabindex="-1" aria-labelledby="modal-large" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="block block-rounded shadow-none mb-0">
                <div class="block-header block-header-default">
                    <h3 class="block-title">Review PPE</h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-bs-dismiss="modal" aria-label="Close" onclick="detailClose()">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="block-content fs-sm">


                    <div class="row">
                        <table class="table table-bordered table-striped table-vcenter js-dataTable-responsive w-100" id="tbl_detail">
                            <thead class="text-center">
                                <tr>
                                    <th>POSITION</th>
                                    <th>NRP</th>
                                    <th>NO QUIPMENT</th>
                                    @*<th>REMAKS</th>*@
                                    <th>APPROVAL DATE</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="block-content block-content-full block-content-sm text-end border-top">
                    <button type="button" class="btn btn-alt-secondary" data-bs-dismiss="modal" onclick="detailClose()">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
