
@{
    ViewBag.Title = "Agreement";
    ViewBag.JS = "/Scripts/Page/SettingAgreement.js";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Agreement</h2>*@

<h2 class="content-heading">Setting Agreement</h2>
<div class="block block-rounded">
    <div class="block-header block-header-default">
        <h3 class="block-title">
            Content <small>Set Agreement's</small>
        </h3>
        <div class="block-options">
            <button type="button" class="btn-block-option">
                <i class="si si-settings"></i>
            </button>
        </div>
    </div>
    <div class="block-content">
        <!--<form action="be_forms_editors.html" method="POST" onsubmit="return false;">
            <div class="mb-4">
                <!-- CKEditor 5 Classic Container -->
        <!--@*<div id="editor">
                    Hello classic CKEditor 5!
                </div>*@
                <textarea id="editor" name="editor"></textarea>
            </div>
        </form>-->
        <form action="be_forms_editors.html" method="POST" onsubmit="return false;">
            <div class="mb-4">
                <!-- CKEditor 5 Classic Container -->
                <div id="js-ckeditor5-classic"><input type="text" id="txt_ID" hidden /></div>
            </div>
        </form>
    </div>
    <div class="block-content block-content-full block-content-sm bg-body-light text-end">
        <button type="submit" class="btn btn-success" onclick="submitEditor()">
            <i class="fa fa-check opacity-50 me-1"></i> Save
        </button>
    </div>
</div>

@*<script src="https://cdn.ckeditor.com/ckeditor5/38.0.1/classic/ckeditor.js"></script>*@

@*<script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });
    </script>*@