
@{
    ViewBag.Title = "District & Location";
    ViewBag.JS = "/Scripts/Page/SettingDistrictLocation.js";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="content-heading">Setting District &amp; Location</h2>
<div class="block block-rounded">
    <div class="block-header block-header-default">
        <h3 class="block-title">
            Table Data <small>Set District Location</small>
        </h3>
        <div class="block-options">
            <div class="block-options-item">
                <button type="button" class="btn btn-success py-2 mb-0" data-bs-toggle="modal" data-bs-target="#modal-insert">
                    <i class="fa fa-add opacity-50 me-1"></i> Add District
                </button>
            </div>
        </div>
    </div>
    <div class="block-content block-content-full">
        <table class="table table-bordered table-striped table-vcenter js-dataTable-responsive w-100" id="tbl_dstrct">
            <thead class="text-center">
                <tr>
                    <th>DISTRICT</th>
                    <th>LOCATION</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<div class="modal" id="modal-insert" tabindex="-1" aria-labelledby="modal-normal" aria-modal="true" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="block block-rounded shadow-none mb-0">
                <div class="block-header block-header-default">
                    <h3 class="block-title">Register User's Group</h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-bs-dismiss="modal" aria-label="Close">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="block-content fs-sm">
                    <div class="mb-4">
                        <label class="form-label" for="txt_district">District</label>
                        <select class="js-select2 form-select" id="txt_district" name="txt_district" style="width: 100%;">
                        </select>
                    </div>
                    <div class="mb-4">
                        <label class="form-label" for="txt_loc">Location</label>
                        <select class="js-select2 form-select" id="txt_loc" name="txt_loc" style="width: 100%;">
                        </select>
                    </div>
                </div>
                <div class="block-content block-content-full block-content-sm text-end border-top">
                    <button type="button" class="btn btn-alt-secondary" data-bs-dismiss="modal">
                        Cancel
                    </button>
                    <button type="button" class="btn btn-alt-primary" onclick="insertDist()">
                        Insert
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
