
@{
    ViewBag.Title = "Mapping Approval";
    ViewBag.JS = "/Scripts/Page/SettingMappingApproval.js";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="content-heading">Setting Mapping Approval</h2>
<div class="block block-rounded">
    <div class="block-header block-header-default">
        <h3 class="block-title">
            Table Data <small>Set Account Profile</small>
        </h3>
        <div class="block-options">
            <div class="block-options-item">
                <button type="button" class="btn btn-success py-2 mb-0" data-bs-toggle="modal" data-bs-target="#modal-insert">
                    <i class="fa fa-add opacity-50 me-1"></i> Add
                </button>
            </div>
        </div>
    </div>
    <div class="block-content block-content-full">
        <table class="table table-bordered table-striped table-vcenter js-dataTable-responsive w-100" id="tbl_mappingapproval">
            <thead class="text-center">
                <tr>
                    <th>APPROVAL ACTION</th>
                    <th>APPROVAL ORDER</th>
                    <th>APPROVAL FROM</th>
                    <th>APPROVAL TO</th>
                    <th>CURRENT POSITION ID</th>
                    <th>NEXT POSITION ID</th>
                    <th>APPROVAL STATUS</th>
                    <th>CURRENT STATUS</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="modal-insert" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="block block-rounded shadow-none mb-0">
                <div class="block-header block-header-default">
                    <h3 class="block-title">Add Mapping Approval</h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-bs-dismiss="modal" aria-label="Close">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                @*<div class="block-content fs-sm">
                    <div class="row justify-content-center">
                        <div class="col-sm-6 col-md-6">
                            <div class="row mb-3">
                                <label class="col-sm-4 col-form-label" for="approval_action">APPROVAL ACTION</label>
                                <select class="js-select2 form-select" id="approval_action" name="approval_action" style="width: 100%;">
                                </select>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-4 col-form-label" for="approval_from">APPROVAL FROM</label>
                                <select class="js-select2 form-select" id="approval_from" name="approval_from" style="width: 100%;">
                                </select>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-4 col-form-label" for="curr_pos_id">CURRENT POSITION ID</label>
                                <select class="js-select2 form-select" id="curr_pos_id" name="curr_pos_id" style="width: 100%;">
                                </select>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-4 col-form-label" for="current_status">CURRENT STATUS</label>
                                <input type="text" class="form-control form-control-sm" id="current_status" name="current_status">
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-6">
                            <div class="row mb-3">
                                <label class="col-sm-4 col-form-label" for="approval_order">APPROVAL ORDER</label>
                                <input type="text" class="form-control form-control-sm" id="approval_order" name="approval_order">
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-4 col-form-label" for="approval_to">APPROVAL TO</label>
                                <select class="js-select2 form-select" id="approval_to" name="approval_to" style="width: 100%;">
                                </select>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-4 col-form-label" for="next_pos_id">NEXT POSITION ID</label>
                                <select class="js-select2 form-select" id="next_pos_id" name="next_pos_id" style="width: 100%;">
                                </select>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-4 col-form-label" for="approval_status">APPROVAL STATUS</label>
                                <input type="text" class="form-control form-control-sm" id="approval_status" name="approval_status">
                            </div>
                        </div>
                    </div>
                </div>*@

                @*baru*@
                <div class="block-content">
                    <div class="row justify-content-center">
                        <div class="col-sm-6 col-md-6">
                            <div class="row mb-4">
                                <label class="col-sm-4 col-form-label" for="approval_action">Approval Action</label>
                                <div class="col-sm-8">
                                    <select class="js-select2 form-select" id="approval_action" name="approval_action" style="width: 100%;">
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <label class="col-sm-4 col-form-label" for="approval_from">Approval From</label>
                                <div class="col-sm-8">
                                    <select class="js-select2 form-select" id="approval_from" name="approval_from" style="width: 100%;">
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <label class="col-sm-4 col-form-label" for="curr_pos_id">Current Position ID</label>
                                <div class="col-sm-8">
                                    <select class="js-select2 form-select" id="curr_pos_id" name="curr_pos_id" style="width: 100%;">
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <label class="col-sm-4 col-form-label" for="current_status">Current Status</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control form-control-sm " id="current_status" name="current_status" rows="7">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-6">
                            <div class="row mb-4">
                                <label class="col-sm-4 col-form-label" for="approval_order">Approval Order</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control form-control-sm " id="approval_order" name="approval_order">
                                </div>
                            </div>
                            <div class="row mb-4">
                                <label class="col-sm-4 col-form-label" for="approval_to">Approval To</label>
                                <div class="col-sm-8">
                                    <select class="js-select2 form-select" id="approval_to" name="approval_to" style="width: 100%;">
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <label class="col-sm-4 col-form-label" for="next_pos_id">Next Position ID</label>
                                <div class="col-sm-8">
                                    <select class="js-select2 form-select" id="next_pos_id" name="next_pos_id" style="width: 100%;">
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <label class="col-sm-4 col-form-label" for="approval_status">Approval Status</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control form-control-sm " id="approval_status" name="approval_status" rows="7">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-content block-content-full block-content-sm text-end border-top">
                    <button type="button" class="btn btn-alt-secondary" data-bs-dismiss="modal">
                        Cancel
                    </button>
                    <button type="button" class="btn btn-alt-primary" onclick="insertDist()">
                        Insert
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_update" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="block block-rounded shadow-none mb-0">
                <div class="block-header block-header-default">
                    <h3 class="block-title">Edit data</h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-bs-dismiss="modal" aria-label="Close">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                @*<div class="block-content fs-sm">
                    <div class="mb-4">
                        <input type="text" name="txt_id" id="txt_id" hidden />
                        <label class="form-label" for="approval_action_update">APPROVAL ACTION</label>
                        <select class="js-select2 form-select" id="approval_action_update" name="approval_action_update" style="width: 100%;">
                        </select>
                    </div>
                </div>
                <div class="block-content fs-sm">
                    <div class="mb-4">
                        <label class="form-label" for="approval_order_update">APPROVAL ORDER</label>
                        <input type="text" class="form-control" id="approval_order_update" name="approval_order_update">
                    </div>
                </div>
                <div class="block-content fs-sm">
                    <div class="mb-4">
                        <label class="form-label" for="approval_from_update">APPROVAL FROM</label>
                        <select class="js-select2 form-select" id="approval_from_update" name="approval_from_update" style="width: 100%;">
                        </select>
                    </div>
                </div>
                <div class="block-content fs-sm">
                    <div class="mb-4">
                        <label class="form-label" for="approval_to_update">APPROVAL TO</label>
                        <select class="js-select2 form-select" id="approval_to_update" name="approval_to_update" style="width: 100%;">
                        </select>
                    </div>
                </div>
                <div class="block-content fs-sm">
                    <div class="mb-4">
                        <label class="form-label" for="curr_pos_id_update">CURRENT POSITION ID</label>
                        <select class="js-select2 form-select" id="curr_pos_id_update" name="curr_pos_id_update" style="width: 100%;">
                        </select>
                    </div>
                </div>
                <div class="block-content fs-sm">
                    <div class="mb-4">
                        <label class="form-label" for="next_pos_id_update">NEXT POSITION ID</label>
                        <select class="js-select2 form-select" id="next_pos_id_update" name="next_pos_id_update" style="width: 100%;">
                        </select>
                    </div>
                </div>
                <div class="block-content fs-sm">
                    <div class="mb-4">
                        <label class="form-label" for="approval_status_update">APPROVAL STATUS</label>
                        <input type="text" class="form-control" id="approval_status_update" name="approval_status_update">
                    </div>
                </div>
                <div class="block-content fs-sm">
                    <div class="mb-4">
                        <label class="form-label" for="current_status_update">CURRENT STATUS</label>
                        <input type="text" class="form-control" id="current_status_update" name="current_status_update">
                    </div>
                </div>*@

                @*baru*@
                <div class="block-content">
                    <div class="row justify-content-center">
                        <div class="col-sm-6 col-md-6">
                            <div class="row mb-4">
                                <input type="text" name="txt_id" id="txt_id" hidden />
                                <label class="col-sm-4 col-form-label" for="approval_action_update">Approval Action</label>
                                <div class="col-sm-8">
                                    <select class="js-select2 form-select" id="approval_action_update" name="approval_action_update" style="width: 100%;">
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <label class="col-sm-4 col-form-label" for="approval_from_update">Approval From</label>
                                <div class="col-sm-8">
                                    <select class="js-select2 form-select" id="approval_from_update" name="approval_from_update" style="width: 100%;">
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <label class="col-sm-4 col-form-label" for="curr_pos_id_update">Current Position ID</label>
                                <div class="col-sm-8">
                                    <select class="js-select2 form-select" id="curr_pos_id_update" name="curr_pos_id_update" style="width: 100%;">
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <label class="col-sm-4 col-form-label" for="current_status_update">Current Status</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control form-control-sm " id="current_status_update" name="current_status_update">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-6">
                            <div class="row mb-4">
                                <label class="col-sm-4 col-form-label" for="approval_order_update">Approval Order</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control form-control-sm " id="approval_order_update" name="approval_order_update">
                                </div>
                            </div>
                            <div class="row mb-4">
                                <label class="col-sm-4 col-form-label" for="approval_to_update">Approval To</label>
                                <div class="col-sm-8">
                                    <select class="js-select2 form-select" id="approval_to_update" name="approval_to_update" style="width: 100%;">
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <label class="col-sm-4 col-form-label" for="next_pos_id_update">Next Position ID</label>
                                <div class="col-sm-8">
                                    <select class="js-select2 form-select" id="next_pos_id_update" name="next_pos_id_update" style="width: 100%;">
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <label class="col-sm-4 col-form-label" for="approval_status_update">Approval Status</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control form-control-sm " id="approval_status_update" name="approval_status_update">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-content block-content-full block-content-sm text-end border-top">
                    <button type="button" class="btn btn-alt-secondary" data-bs-dismiss="modal">
                        Cancel
                    </button>
                    <button type="button" class="btn btn-alt-primary" onclick="updateAccountDL()">
                        Insert
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>